/*Animations profile*/
.profile-title-animation {
    animation: fadeInUp 1.5s ease-out forwards;
    opacity: 0;
}

.button-primary-left {
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 1.6s;
    opacity: 0;
}
.button-primary-right {
    animation: slideInRight 1s ease-out forwards;
    animation-delay: 1.6s;
    opacity: 0;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Animations Quiz */
.fade-in {
    animation-name: fadeInUp;
    opacity: 0;
}

.fade-out {
    animation-name: fadeOut;
    opacity: 1;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}



