
/*AddMovies*/
.grid-list-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 0;
    list-style: none;
}
.grid-list-movies li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'bebas Neue', cursive;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--deep-black);
    border-radius: 5rem;
    background-color:var(--warm-beige);
}
.grid-list-movies li.selected {
    background-color:var(--deep-black);
    color: var(--warm-beige);
    font-weight: bold;
}
input:hover {
    cursor: pointer;
}
.grid-list-movies:hover li {
    cursor: pointer;
}
/*styling for checkboxes of movie items*/
input[type="checkbox"] {
    opacity: 0;
}


.scroll-container {
    max-height: 300px;
    overflow-y: scroll;
    padding: 0.5rem;
    margin: 5rem;
}
.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*add movie*/
.list-selection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
    text-align: center;
}
.list-selection {
    position: relative;
    list-style: none;
    font-family: 'bebas neue', sans-serif;
    font-size: 2rem;
    color: var(--warm-beige);
    text-align: center;
}
.list-selection:hover {
    cursor: pointer;
}
