/*ListName (create list)*/
.input-field {
    background-color: transparent;
    font-family: 'bebas neue', cursive;
    font-size: 20px;
    padding: 12px;
    text-align: left;
    height: 50px;
    width: 200px;
}
