@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --warm-beige: #CBB682;
    --deep-black: #0B0B0B;
}

html, body, #root {
    background-image: url(./assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'bebas neue', serif;
    color: var(--warm-beige);
}

button {
    font-family: 'playfair display', serif;
    color: var(--warm-beige);
}